<!doctype html>
<html lang="en"{{#if rtl}} dir="rtl"{{/if}}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Chaldene - {{title}}</title>

  <!-- Vendor stylesheet files. REQUIRED -->
  <!-- BEGIN: Vendor  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="" id="bslink">
  {{#if rtl}}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-rtl@3.3.4/dist/cdnjs/3.3.4/css/bootstrap-rtl.min.css">{{/if}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/metismenu@3.0.7/dist/metisMenu.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/metis-canvas@1.0.1/dist/metis-canvas.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
  <!-- END: Vendor stylesheet files -->

  {{#if pagecss}}
  <!-- Plugin stylesheet files. OPTIONAL -->
  {{#each pagecss}}
  {{css .}}
  {{/each}}
  <!-- END: plugin stylesheet files -->
  {{/if}}


  <!-- Theme main stlesheet files. REQUIRED -->
  <link rel="stylesheet" href="assets/css/chaldene{{#if rtl}}-rtl{{/if}}.css">
  <!-- END: theme main stylesheet files -->

  {{#unless demo}}
  <!-- theme-switcher stylesheet files. NOT REQUIRED -->
  <link rel="stylesheet" href="assets/css/theme-switcher{{#if rtl}}-rtl{{/if}}.css">
  <!-- END: theme-switcher stylesheet file. -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.min.css">
  {{/unless}}

</head>

<body>
  <!-- begin .app -->
  <div class="app">
    <!-- begin .app-wrap -->
    <div class="app-wrap">
      {% body %}
    </div>
    <!-- END: .app-wrap -->
  </div>
  <!-- END: .app -->

  <span class="fa fa-angle-up" id="totop" data-plugin="totop"></span>

  {{#unless demo}}
  <!-- begin theme-switcher. DEMO ONLY! -->
<div class="canvas is-{{#if rtl}}left{{else}}right{{/if}} is-fixed bg-white shadow-4dp" id="style-switcher">
  <div class="h1 demo-header shadow-4dp" data-target="#style-switcher" data-toggle="canvas">
    <i class="fa fa-fw fa-cog"></i>
  </div>
  <div class=p-a-15>

  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-bordered nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#page" aria-controls="page" role="tab" data-toggle="tab">Page</a></li>
      <li role="presentation"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">Theme</a></li>
      <li role="presentation"><a href="#layout" aria-controls="layout" role="tab" data-toggle="tab">Layout</a></li>
      <li role="presentation"><a href="#direction" aria-controls="#direction" role="tab" data-toggle="tab">Direction</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="page">
        <form class="p-a-15" id="page-form">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="p-l" value="0" checked> Fluid
            </label>
            <label class="radio-inline">
              <input type="radio" name="p-l" value="1"> Fixed
            </label>
            <div class="psc collapse">
              <fieldset id="plm" disabled>
                <label class="checkbox-inline">
                  <input type="checkbox" id="plmv" value="2"> Main
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="plsv" value="3"> Sidebar
                </label>
              </fieldset>
            </div>
          </div>
          <hr>

          <div class="nss hidden">
            <div class="form-group">
              <label>Navbar Style</label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="ns" value="1" checked> Static
              </label>
              <label class="radio-inline">
                <input type="radio" name="ns" value="0"> Fixed
              </label>
            </div>
            <hr class="b-s-dashed">
          </div>

          <div class="nbc">
            <div class="form-group">
              <label>Navbar Color</label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="nc" value="1" checked>White
              </label>
              <label class="radio-inline">
                <input type="radio" name="nc" value="0">Inverse
              </label>
            </div>
            <hr class="b-s-dashed">
          </div>


          <div class="psc collapse">
            <div class="form-group">
              <label>Sidebar Hoverable</label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="hs" value="1" id="hs1"> Add
              </label>
              <label class="radio-inline">
                <input type="radio" name="hs" value="0" checked id="hs0"> Remove
              </label>
            </div>

            <hr class="b-s-dashed">
          </div>

          <div class="form-group">
            <label>Page Width</label>
          </div>
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="pw" value="0" checked> Wide
            </label>
            <label class="radio-inline">
              <input type="radio" name="pw" value="1"> Boxed
            </label>
          </div>

        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="theme">
        <ul class="theme-list nav">
          <li><a href="#" rel="peter-river">Peter River</a></li>
          <li><a href="#" rel="turquoise">Turquoise</a></li>
          <li><a href="#" rel="amethyst">Amethyst</a></li>
          <li><a href="#" rel="orange">Orange</a></li>
          <li><a href="#" rel="alizarin">Alizarin</a></li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="layout">
        <ul class="nav layout-list">
          <li><a href="dashboard.html">Layout 1</a></li>
          <li><a href="dashboard2.html">Layout 2</a></li>
          <li><a href="dashboard3.html">Layout 3</a></li>
        </ul>
      </div>


      <div role="tabpanel" class="tab-pane" id="direction">
        <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="dir" value="ltr" checked> LTR
            </label>
            <label class="radio-inline">
              <input type="radio" name="dir" value="rtl"> RTL
            </label>
          </div>

      </div>


    </div>

  </div>
</div>

</div>
<!-- END: theme-switcher. -->
  {{/unless}}

  <!-- Vendor javascript files. REQUIRED -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/metismenu@3.0.7/dist/metisMenu.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/metis-canvas@1.0.1/dist/metis-canvas.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment/min/locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/screenfull@5.2.0/dist/screenfull.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/in-view@0.6.1/dist/in-view.min.js"></script>
  <!-- END: Vendor javascript files -->

  {{#if vendorjs}}
  <!-- Plugin javascript files. OPTIONAL -->
  {{#each vendorjs}}
  {{js .}}
  {{/each}}
  <!-- END: plugin javascript files -->
  {{/if}}


  <script src="assets/js/chaldene.js"></script>

  {{#if pagejs}}
  <!-- Demo javascript files. NOT REQUIRED -->
  {{#each pagejs}}
  {{js .}}
  {{/each}}
  <!-- END: demo javascript files -->
  {{/if}}


  {{#unless demo}}
  <!-- theme-switcher scripts file. NOT REQUIRED -->
  <script src="assets/js/theme-switcher.js"></script>
  <!-- END: theme-switcher scripts file. -->

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.min.js"></script>
  {{/unless}}
</body>

</html>
