<table class="table {{modifier}}" data-table="sorter">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#if users}}
            {{#each users as |user|}}
                <tr>
                    <td>{{user.id}}</td>
                    <td><span class="badge label-primary">{{user.username}}</span></td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>
            {{/each}}
        {{else}}
            <div class="alert alert-danger" role="alert">NO DATA</div>
        {{/if}}
    </tbody>
</table>
