<table class="tablesorter table {{modifier}}">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    {{#if db.users}}
      {{#each db.users}}
        <tr>
          <td>{{id}}</td>
          <td>{{username}}</td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{address.city}}</td>
        </tr>
      {{/each}}
    {{else}}
      <div class="alert alert-danger" role="alert">NO DATA</div>
    {{/if}}
  </tbody>
</table>
