---
title: Gallery
category: app
pagecss:
- vendor/lightgallery/css/lightgallery.min.css
vendorjs:
- ../assets/vendor/lightgallery/js/lightgallery-all.min.js
pagejs:
- ../assets/js/pagejs/app-gallery.js
---
<div class="row" id="lightgallery">
{{#each db.users as |user|}}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail" data-src="../assets/img/p{{user.id}}.svg"
            data-sub-html="<h4>{{user.name}}</h4><p>{{user.company.catchPhrase}}</p>">
            <img src="../assets/img/p{{user.id}}.svg" alt="{{user.username}} photo" data-toggle="tooltip" title="click for show">
            <div class="caption">
                <h3>{{user.username}}</h3>
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
{{/each}}
</div>
