---
title: Dashboard 2
category: dashboard
sideVisibleLine: true
layout: second
pagecss:
- https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.css
- vendor/jqvmap/jqvmap.min.css
vendorjs:
- assets/vendor/waypoints/jquery.waypoints.min.js
- assets/vendor/counterup/jquery.counterup.min.js
- assets/vendor/jqvmap/jquery.vmap.min.js
- assets/vendor/jqvmap/jquery.vmap.sampledata.js
- assets/vendor/jqvmap/maps/jquery.vmap.usa.js
- assets/vendor/tablesorter/js/jquery.tablesorter.min.js
- https://cdn.jsdelivr.net/npm/chart.js
- https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js
pagejs:
- assets/js/pagejs/dashboard.js
---

<!-- BEGIN: alert -->
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4>Welcome to Chaldene {{pkg.description}}</h4>
      <p>I hope you like it.</p>
    </div>
  </div>
</div>
<!-- END: alert -->

{{> dashboard-statsarea}}

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-md-7">
    {{> dashboard-line}}
  </div>
  <div class="col-md-5">
    {{> dashboard-usa-map}}
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-7">
    <div class="box">
      <header class="bg-primary">
        <h4>Last 10 Users</h4>
      </header>
      <div class="box-body p-a-0 max-h-lg">
        {{> table-sorter modifier="table-inverse" }}
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="box border">
      <header class="border-bottom">
        <h4>Todo</h4>
      </header>
      <div class="box-body p-a-0 max-h-lg">

        <ul class="todo-list is-order dragula">
          {{#each db.todos}}
          {{#compare id "<" 11}}
          <li class="todo-item draggable handle {{#if completed}}is-done{{/if}}">
            <a href="#" class="todo-link">
              {{#if completed}}
              <i class="fa fa-fw fa-lg fa-check-square"></i>
              {{else}}
              <i class="fa fa-fw fa-lg fa-square-o"></i>
              {{/if}}
            </a>
            <span class="todo-title">{{id}} - {{title}}</span>
          </li>
          <!-- /.todo-item -->
          {{/compare}}
          {{/each}}
        </ul>
        <!-- /.todo-list -->

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-4">
    <div class="box shadow-sm rounded-1">
      <header class="border-bottom">
        <h4>Members</h4>
        <div class="box-tools">
          <span class="label label-success">5</span>
        </div>
      </header>
      <div class="box-body">
        <ul class="members">

          {{#each db.users}}
          {{#compare id "<" 6}}
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img class="member-media-img" src="assets/img/{{#ifEven id }}w{{else}}m{{/ifEven}}{{id}}.svg"
                  alt="{{username}}">
                <span class='member-status {{#ifEven id }}is-active{{/ifEven}}'></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">{{name}}</h4>
              <div class="member-skills">{{company.catchPhrase}}</div>
            </div>
          </li>
          <!-- /.member -->
          {{/compare}}
          {{/each}}

        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box shadow-sm rounded-1">
      <header class="border-bottom">
        <h4>Tasks</h4>
        <div class="box-tools">
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <span class="fa fa-fw fa-ellipsis-v text-muted"></span>
            </a>
            <ul class="dropdown-menu animated flipInY pull-right">
              <li>
                <a href="#">Add Task</a>
              </li>
              <li>
                <a href="#">Edit Task</a>
              </li>
              <li>
                <a href="#">Delete Task</a>
              </li>
            </ul>
          </div>

        </div>
      </header>
      <div class="box-body">
        <ul class="tasks">

          {{#each db.users}}
          {{#compare id ">" 5}}

          <li class="task">
            <div class="task-media {{#ifEven id }}bg-danger{{else}}bg-success{{/ifEven}}">
              <i class="fa fa-fw {{#ifEven id }}fa-plus{{else}}fa-minus{{/ifEven}}"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">{{name}}</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">{{website}}</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i> <span data-momentum=relative>{{moment}}</span>
              </div>
            </div>
          </li>

          {{/compare}}
          {{/each}}

        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box shadow-sm">
      <header>
        <h4>Visitors <small class="text-muted">by city</small></h4>
      </header>
      <div class="box-body p-a-0">

        <nav class="list-group m-a-0">

          {{#each db.users}}
          <a href="#" class="list-group-item rounded-0">
            {{address.city}}
            <span class="pull-right">{{random 1 100}}%</span>
            <span class="list-group-progress" style="width: {{random 1 100}}%;"></span>

          </a>
          {{/each}}

        </nav>
      </div>
    </div>
  </div>

</div>
<!-- END: .row -->
