---
title: Todo
category: ui
pagecss:
- https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.css
vendorjs:
- https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js
pagejs:
- assets/js/pagejs/ui-todo.js
---
<div class="box">
  <header>
    <h4>Todo Basic</h4>
  </header>
  <div class="box-body">

    <ul class="todo-list">
      {{#each db.todos}}
        {{#compare id "<" 11}}
          <li class="todo-item {{#if completed}}is-done{{/if}}">
            <a href="#" class="todo-link">
            {{#if completed}}
              <i class="fa fa-fw fa-lg fa-check-square"></i>
            {{else}}
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            {{/if}}
          </a>
            <span class="todo-title">{{title}}</span>
          </li>
          <!-- /.todo-item -->
        {{/compare}}
      {{/each}}
    </ul>
    <!-- /.todo-list -->

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="box">
  <header>
    <h4>TODO Draggable</h4>
  </header>
  <div class="box-body">


    <ul class="todo-list dragula">
      {{#each db.todos}}
        {{#compare id "<" 11}}
          <li class="todo-item draggable handle {{#if completed}}is-done{{/if}}">
            <a href="#" class="todo-link">
                {{#if completed}}
                  <i class="fa fa-fw fa-lg fa-check-square"></i>
                {{else}}
                  <i class="fa fa-fw fa-lg fa-square-o"></i>
                {{/if}}

              </a>
            <span class="todo-title">{{title}}</span>
          </li>
          <!-- /.todo-item -->
        {{/compare}}
      {{/each}}
    </ul>
    <!-- /.todo-list -->

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="box">
  <header>
    <h4>Todo Orderable</h4>
  </header>
  <div class="box-body">

    <ul class="todo-list is-order">
      {{#each db.todos}}
        {{#compare id "<" 11}}
          <li class="todo-item {{#if completed}}is-done{{/if}}">
            <a href="#" class="todo-link">
            {{#if completed}}
              <i class="fa fa-fw fa-lg fa-check-square"></i>
            {{else}}
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            {{/if}}

          </a>
            <span class="todo-title">{{title}}</span>
          </li>
          <!-- /.todo-item -->
        {{/compare}}
      {{/each}}
    </ul>
    <!-- /.todo-list -->

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
