<table class="table table-bordered">
  <thead>
    <tr>
      <th><code>APP HEADING</code></th>
      <th><code>APP SIDE</code></th>
      <th><code>SIDE VISIBLE LINE</code></th>
      <th><code>MAIN HEADING</code></th>
      <th><code>MAIN FOOTER</code></th>
      <th><code>APP FOOTER</code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{#if appHeading}}true{{else}}false{{/if}}</td>
      <td>{{#if appSide}}true{{else}}false{{/if}}</td>
      <td>{{#if sideVisibleLine}}true{{else}}false{{/if}}</td>
      <td>{{#if mainHeading}}true{{else}}false{{/if}}</td>
      <td>{{#if mainFooter}}true{{else}}false{{/if}}</td>
      <td>{{#if appFooter}}true{{else}}false{{/if}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-1">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
