<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>{{title}}</title>

<!-- Core stylesheet files. REQUIRED -->
<!-- Bootstrap -->
{{{css "../assets/vendor/bootstrap/css/bootstrap.css"}}}

<!-- Font Awesome -->
<!-- WARNING: Font Awesome doesn't work if you view the page via file:// -->
{{{css "../assets/vendor/font-awesome/css/font-awesome.css"}}}

<!-- animate.css -->
{{{css "../assets/vendor/animate.css/animate.css"}}}

<!-- metisMenu -->
{{{css "../assets/vendor/metismenu/metisMenu.css"}}}
<!-- END: core stylesheet files -->

<!-- Plugin stylesheet files. OPTIONAL -->
{{{css "../assets/vendor/dragula/dragula.css"}}}
{{{css "../assets/vendor/dropzone/dropzone.css"}}}
{{{css "../assets/vendor/lightgallery.js/css/lightgallery.css"}}}
{{{css "../assets/vendor/perfect-scrollbar/perfect-scrollbar.css"}}}
{{{css "../assets/vendor/select2/css/select2.css"}}}
{{{css "../assets/vendor/flatpickr/flatpickr.min.css"}}}
{{{css "../assets/vendor/jquery-steps/jquery.steps.css"}}}
{{{css "../assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css"}}}
<!-- END: plugin stylesheet files -->

<!-- Theme main stlesheet files. REQUIRED -->
{{{css "../assets/css/app.css"}}}
{{{css "../assets/css/theme-navy.css"}}}
<!-- END: theme main stylesheet files -->
